body {
    margin: 0;
    font-family: Tahoma, Genova, sans-serif;
    min-width: 960px;
}

.container {
    width: 960px;
    margin: 0 auto;
    overflow: auto;
    }

header {
    text-align: center;
    width: 100%;
}

nav {
    font-weight: bold;
    background-image: url(".jpg");
    background-repeat: repeat-x;
}

nav ul, footer ul {
    list-style-type: none;
    margin: 0px;
    padding: 20px 0px;    
}

nav li, footer li {
    display: inline;
    margin: 20px;
    text-transform: uppercase;
}

nav a {
    text-decoration: none;
    color: blue;
}

nav a:hover {
    text-decoration: underline;

}

main {
    text-align: center;
    margin-bottom: 40px;
    color: dimgray;
}

main h1 {
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 2.2em;
    border-bottom: 1px dashed lightgray;
    margin-top: 50px;
}

main img {
    width: 70%;
    margin: auto;
    padding: 2px;
    border: 1px solid lightgray;    
}

.customerBox {
    border: 2px outset lightgray;
    width: 50%;
    margin-bottom: 20px;
    border-radius: 10px;
}

.customerBox h1 {
    font-size: 1.2em;
    margin-top: 0;
    padding: 10px;
}

.customerBox p {
    padding: 0 10px;
}

.customerBox h2 {
    border-top: 1px dashed lightgray;
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
    text-align: right;
    padding-top: 5px;
    padding-right: 10px;
}

.floatLeft {
    margin-left: 15%;
    float: left;
}

.floatRight {
    margin-right: 15%;
    float: right;
}

.clearFloat {
    clear:both; 
}

main table {
    border: 1px solid lightgray;
    margin: 0 auto;
    padding: 5px;
    border-radius: 10px;
}

main th, main td {
    padding: 20px;
    border:  1px solid lightgray;
}

main th {
    background-color: dimgray;
    color: white;
    font-size: 1.2em;
}

main tr:nth-child(odd) {
    background-color: lemonchiffon;
}

main tr:nth-child(even) {
    background-color: darkblue;
    color: white;
}

footer {
    text-align: center;
    width: 100%;
    background-color: #232244;
    color: white;
}

footer a {
    color: white;
}

#contactUs {
    width: 150px;
    height: 30px;
    background-color: blueviolet;
    text-align: center;
    padding-top: 10px;
    border-radius: 5px;
    position: fixed;
    bottom: 0;
    right: 0;
}

#contactUs a {
    text-decoration: none;
    color: white;
}